extends layout

block content
  .dashboard-container
    .navbar
      h1 Uni-Bridge

    .dashboard-body
      .sidebar
        ul
          li: a(href="/dashboard") Dashboard
          li: a(href="/profile") My Profile
          li: a(href="/myswaps") My Swaps
          li: a(href="/browseskills") Browse Skills
          li: a(href="/messages") Messages
          li: a(href="/settings") Settings
          li: a(href="/logout") Logout

      .main-content
        h1 Password Changed Successfully ✅
        